<div id="content-header">
	<h1>Service Assembly</h1>
</div>

<div id="breadcrumb">
	<a href="#1/instance" title="Go to Instance" class="tip-bottom"><i class="icon-globe"></i> dfrlmasweba04</a>
	<a href="#1/assemblies" title="Go to Service Assemblies" class="tip-bottom">Service Assemblies</a>
	<a href="#" class="current">CA_Entreprise</a>
</div>

<div class="container-fluid">
	<div class="widget-box">
		<div class="widget-title">
            <ul class="nav nav-tabs">
                <li><a class="tab" id="tab-general" href="#1/assembly/CA_Entreprise/general">General</a></li>
                <li><a class="tab" id="tab-description" href="#1/assembly/CA_Entreprise/description">Description</a></li>
                <li><a class="tab" id="tab-target" href="#1/assembly/CA_Entreprise/target">Target</a></li>
                <li><a class="tab" id="tab-stats" href="#1/assembly/CA_Entreprise/stats">Statistics</a></li>
                <li><a class="tab" id="tab-monitoring" href="#1/assembly/CA_Entreprise/monitoring">Monitoring</a></li>
            </ul>
        </div>
        <div class="widget-content tab-content">
            <div id="tabContent" class="tab-pane active">Cool ! An active tab !</div>
        </div>
	</div>
</div>