
<div id="content-header">
	<h1>Components</h1>
</div>

<div id="breadcrumb">
	<a href="#1/instance" title="Go to Instance" class="tip-bottom"><i class="icon-globe"></i> dfrlmasweba04</a>
	<a href="#" class="current">Components</a>
</div>
<div class="container-fluid">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon">
				<input type="checkbox" id="title-checkbox" name="title-checkbox" />
			</span>
			<h5>Composants de liaison et moteurs de service JBI</h5>
			<div class="buttons">
				<a title="Icon Title" class="btn btn-mini" href="#">Delete</a>
				<a title="Icon Title" class="btn btn-mini" href="#">Enable</a>
				<a title="Icon Title" class="btn btn-mini" href="#">Disable</a>
			</div>
		</div>
		<div class="widget-content nopadding">
			<table class="table table-bordered table-striped with-check" id="components-table">
				<thead>
					<tr>
						<th><i class="icon-resize-vertical"></i></th>
						<th>Nom</th>
						<th>Status</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>							
		</div>
	</div>
</div>