
<div id="content-header">
	<h1>dfrlmasweba04</h1>
</div>
<div id="breadcrumb">
	<a href="#instances" title="Go to OpenESB instances" class="tip-bottom"><i class="icon-globe"></i> OpenESB instances</a>
	<a href="#" class="current"> dfrlmasweba04</a>
</div>
<div class="container-fluid" id="instances-grid">
	<div class="row-fluid">
		<div class="span6">
			<div class="widget-box">
				<div class="widget-title">
                    <span class="icon"><i class="icon-th-list"></i></span>
                    <h5>Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <ul class="activity-list">
                        <li><a href="#"><strong>Host : </strong>dfrlmasweba04<br></a></li>
                        <li><a href="#"><strong>Port : </strong>38686<br></a></li>
                        <li><a href="#"><strong>Access : </strong>JMX<br></a></li>
                    </ul>
                </div>
            </div>

            <div class="widget-box">
				<div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>JBI Components</h5>
                </div>
                <div class="widget-content notify-ui">
                    <ul id="gritter-notify">
                    	<li class="normal"><a href="#1/assemblies">
                            <strong>View Service Assemblies </strong><span class="badge badge-info">4</span><br>
                        </a></li>
                    	<li class="normal"><a href="#1/components">
                            <strong>View Components </strong><span class="badge badge-info">6</span><br>
                        </a></li>
                    	<li class="normal"><a href="#1/libraries">
                            <strong>View Shared Libraries </strong><span class="badge badge-info">3</span><br>
                        </a></li>
                    </ul>
                </div>
            </div>
		</div>

		<div class="span6">
			<div class="widget-box">
				<div class="widget-title">
                    <span class="icon"><i class="icon-repeat"></i></span>
                    <h5>Recent Activity</h5>
                </div>
                <div class="widget-content nopadding">
                    <ul class="activity-list">
                        <li><a href="#">
                            <i class="icon-user"></i>
                            <strong>Admin</strong> added <strong>service assembly My_Sample_Assembly</strong> <span>2 hours ago</span>
                        </a></li>
                        <li><a href="#">
                            <i class="icon-user"></i>
                            <strong>David</strong> changed <strong>sun-http-binding configuration</strong> <span>Yesterday</span>
                        </a></li>
                        <li><a href="#">
                            <i class="icon-user"></i>
                            <strong>Paul</strong> stopped <strong>sun-http-binding</strong> <span>2 days ago</span>
                        </a></li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
</div>